<div class="card bg-light mb-3">
  <div class="card-body">
    <h4><%= link_to post.title, post %></h4>

    <div class="text-muted mb-2">
      <em>By <%= post.author %> (<%= post.created_at %>)</em>
    </div>

    <p><%= post.body.truncate(200) %></p>

    <p class="text-muted"><%= pluralize(post.comments.count, "Comment") %></p>

    <%= link_to "Read", post, class: "btn btn-primary" %>
    <%= link_to "Edit", edit_post_path(post), class: "btn btn-secondary" %>
    <%= link_to "Delete", post, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure ?' } %>
  </div>
</div>